@tailwind base;
@tailwind components;
@tailwind utilities;


.hot table.w-full.border-collapse.border.border-gray-300 tr:nth-child(6) td:nth-child(3){
    border-bottom: none;
    padding-top: 50px;
    padding-bottom: 0px;
}

.hot table.w-full.border-collapse.border.border-gray-300 tr:nth-child(7) td:nth-child(3){
     display: none;
}
.electrical table.w-full.border-collapse.border.border-gray-300 tr:nth-child(5) td:nth-child(3){
    border-bottom: none;
    padding-top: 50px;
    padding-bottom: 0px;
}

.electrical table.w-full.border-collapse.border.border-gray-300 tr:nth-child(6) td:nth-child(3){
     display: none;
      
}